language: android
script: "./gradlew build"
android:
  components:
    # The BuildTools version used by your project
    - build-tools-25.0.2

    # The SDK version used to compile your project
    - android-25